# backend
NEXUS_API_KEY=
DATABASE_URL=postgresql+asyncpg://nexus:nexus@localhost:5432/nexustracker
INTERNAL_API_KEY=

# bot
DISCORD_BOT_TOKEN=
BACKEND_URL=http://localhost:8000
POLL_INTERVAL_MINUTES=60
